@{
    ViewData["Title"] = "Home Page";
    var listaMarcas = (List<SelectListItem>)ViewData["Marcas"];
}

<h1>Mantenimiento de Equipos</h1>
<br>
<form asp-action="GuardarEquipo" asp-controller="Home" method="post">
    @* Inicio del Formulario *@
    <div class="row">
        <div class="form-group">
            <div class="col-md-6">
                @Html.Label("lblCodigo", "Código")
                @Html.TextBox("codigo", "", new { @class = "form-control", placeholder = "Ingrese el código del equipo" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                @Html.Label("lblNombre", "Nombre")
                @Html.TextBox("nombre", "", new { @class = "form-control", placeholder = "Ingrese el nombre del equipo" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="col-md-6">
                @Html.Label("lblDescripcion", "Descripción")
                @Html.TextArea("descripcion", "", new { @class = "form-control", placeholder = "Ingrese la descripción del equipo", rows = 4 })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                @Html.Label("lblCategoria", "Categoría")
                @Html.DropDownList("categoria", new List<SelectListItem>
                {
                    new SelectListItem { Text = "Hardware", Value = "1" },
                    new SelectListItem { Text = "Software", Value = "2" },
                    new SelectListItem { Text = "Red", Value = "3" }
                }, "Seleccione una categoría", new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="col-md-6">
                @Html.Label("lblMarca", "Marca")
                @Html.DropDownList("marca", listaMarcas, "Seleccione una marca", new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="col-md-6">
                @Html.Label("lblFechaCompra", "Fecha de Compra")
                @Html.TextBox("fechaCompra", "", new { @class = "form-control", type = "date" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="col-md-6">
                @Html.Label("lblPrecio", "Precio")
                @Html.TextBox("precio", "", new { @class = "form-control", type = "number", step = "0.01", placeholder = "Ingrese el precio" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="col-md-6">
                <div class="checkbox">
                    @Html.CheckBox("disponible", true)
                    @Html.Label("lblDisponible", "Disponible para uso")
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button type="reset" class="btn btn-secondary">Limpiar</button>
        </div>
    </div>
    @* Fin del Formulario *@
</form>